.nav{
    position: absolute;
    text-align: center;
    width: 90vw;
    z-index: 3;
}

.form{
    margin:3% auto;
    padding:0.5% 1% ;
    width:40vw;
    background-color: white;
    border-radius: 15px;
    display: flex;

}

.searchBar{
    flex: 1;
    border: none;
}

.form>img{
    width: 30px;
}

@media  screen and (max-width:900px) {
    .form{
        width: 80vw;
    }
}